VITE_SUPABASE_URL=https://ptwgiadzpzawjftfxwwf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Qoy-USZ2VP94_n5x1BcjWQ_HV5deVBB
VITE_SUPABASE_SERVICE_ROLE_KEY=sb_secret_vax5E5uqo5ohICru_MJy0w__co-qrx_
